/* Archivo: src/components/tasks/TaskFilters.css */

.filter-select {
    padding: 8px 12px 8px 30px;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border);
    font-size: 14px;
    min-width: 200px;
}
