.profile-menu-container {
  position: relative;
  display: inline-block;
}

.profile-menu-trigger {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  /* Reseteamos el estilo del botón para que no parezca uno */
  background: none;
  border: none;
  padding: 5px;
  margin: -5px; /* Compensa el padding */
  font-family: inherit;
  color: inherit;
  border-radius: var(--border-radius-sm);
}
.profile-menu-trigger:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.arrow-icon {
  transition: transform 0.2s ease-in-out;
}

.arrow-icon.open {
  transform: rotate(180deg);
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 10px); /* Un poco de espacio debajo del trigger */
  background-color: var(--color-content-bg);
  min-width: 200px;
  box-shadow: var(--shadow-main);
  z-index: 100;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  border: 1px solid var(--color-border);
}

.dropdown-item {
  color: var(--color-text-dark);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--color-app-bg);
}

.dropdown-item i {
  width: 16px; /* Para alinear el texto */
  text-align: center;
  color: var(--color-text-light);
}